@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------Dont change anything here ------------------- */

body {
  font-family: 'Quicksand', sans-serif;
}

.pc-button {
  width: 180px;
  height: 50px;
  background: linear-gradient(
    144deg,
    #db9e39,
    #d4cb50,
    #3db8d2,
    #a83dd2,
    #d23d8a
  );
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 11s ease infinite;
  -moz-animation: AnimationName 11s ease infinite;
  animation: AnimationName 11s ease infinite;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: large;
  font-weight: 500;
  letter-spacing: 2px;
  border: none;
  padding: 10px 20px;
  border-radius: 35px;
  cursor: pointer;
}

.gradient-text {
  font-weight: 700;
  background: linear-gradient(
    144deg,
    #db9e39,
    #d4cb50,
    #3db8d2,
    #a83dd2,
    #d23d8a
  );
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 77%;
  }
  50% {
    background-position: 100% 24%;
  }
  100% {
    background-position: 0% 77%;
  }
}
.tag {
  background-color: #db9e39;
  display: inline-block; /* Ensures the tag fits its content */
  padding: 8px 16px; /* Adds padding for height and width */
  color: #333; /* Text color */
  border-radius: 50px; /* Gives it a pill shape */
  font-size: 14px; /* Adjusts the font size */
  font-weight: 500; /* Adjusts the font weight */
  text-align: center; /* Centers the text */
  cursor: default; /* Sets the cursor style */
  white-space: nowrap; /* Prevents the text from wrapping */
}

.tag:hover {
  background-color: #e0e0e0;
  color: black; /* Changes background on hover */
}
